.container-infos {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #225B7C;
}

.info-content{
    width: 40%;
    height: 50%;
    background-color: #225B7C;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-title{
    color: #CBFACF;
}

.info-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-form{
    font-size: x-small;
    color: #CBFACF;
}

.form-form{
    display: flex;
}


.btn-form input{
    background-color: #CBFACF;
    color: #225B7C;
    border: none;
    margin-left: 3%;
    border-radius: 6px;
}