body {
  background-color: #cbfacf;
}
.container {
  width: 950px;
  margin: auto;
  display: flex;
  flex-direction: row;
  min-height: 720px;
}

.input {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
}

.form {
  background-color: #225b7c;
  color: #cbfacf;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
}

.button {
  width: 100%;
  background-color: #cbfacf;
  color: #225b7c;
  border-radius: 5px;
  font-weight: bold;
}

.lane {
  border: 1px solid #225b7c;
  flex-direction: column;
}
