.pageMembers{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.membersList {
    list-style-type: none;
    padding: 0;
    margin-left: 10%;
  }
  
  .memberCard {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    width: 40%;
  }
  
  .memberImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .memberInfo {
    flex: 1;
  }
  
  .memberName {
    margin: 0;
    font-weight: bold;
  }
  
  .memberDescription {
    margin: 0;
    color: #555;
  }