
.event-section {
  display: flex;
  flex-direction: row;
  height: 60vh;
  background-color: #CBFACF; 
}

.left-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.centered-text {
  text-align: center;
  color: #00997B;
  font-weight: bold; 
  font-size: 32px;
}

.left-text {
  color: #00997B;
  font-weight: bold; 
  font-size: 32px;
  margin-left: 8%;
}

.right-content {
  width: 50%;
}

.big-square {
  position: relative;
  width: 70%;
  height: 100%;
  background-color: #8CE499;
  top: -8%;
  left: 10%;
  border-radius: 6%;
  display: flex;
  flex-direction: column;
}

.top-content{
  height: 10%;
}
.central-content{
  height: 80%;
  display: flex;
  flex-direction: column;

}
.bottom-content{
  height: 10%;
}

.content-smaller{
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  align-items: center; 
  justify-content: center; 
  margin-left: 12%;
  
}

.small-square{
  background-color: #00997B;
  width: 80%; /* Adjust the width as needed */
  height: 80%; /* Adjust the height as needed */
  border-radius: 10%;
  font-size: 28px;
  font-weight: bold; 
  color: #8CE499;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.plus-text{
  text-align: center;
  color: #00997B;
  font-size: 22px;
  margin-top: 4%;
}
