.section-30vh {
  height: 30vh;
  display: flex;
  justify-content: center;
}

.section-35vh {
  height: 35vh;
}

.section-40vh {
  height: 40vh;
}

.section-50vh {
  height: 50vh;
}

.section-60vh {
  height: 60vh;
}

.section-120vh {
  height: 120vh;
}

.foot {
  background-color: #225b7c;
  color: #cbfacf;
  height: 70px;
}
