.section-30vh {
  height: 30vh;
  overflow-y: auto; 
}

.section-40vh {
  height: 40vh;
  overflow-y: auto; 
}

.section-60vh {
  height: 60vh;
  overflow-y: auto; 
}

.section-120vh {
  height: 120vh;
  overflow-y: auto; 
}
