.profile-container {
    display: flex;
    height: 85vh;
  }
  
  .sidebar {
    width: 200px;
    height: 100%;
    background-color: #00997B;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .profile-image-container {
    text-align: center;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .sidebar-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .sidebar-list li {
    padding: 10px;
    border-bottom: 1px solid #CBFACF;
    color: #CBFACF;
  }
  .hederProfil{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .elements {
    color: #cbfacf;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
  }
  .futurEvent{
    display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 350px);
  grid-auto-columns: repeat(3, 350px);
  gap: 20px;
  }

  .container {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-top: 5%;
  }
  .centered {
    text-align: center;
    margin-bottom: 20px;
  }  
  .profilImage {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .columnsContainer {
    display: flex;
    align-items: flex-start;
  }

  .leftColumn,
.rightColumn {
  flex: 1;
  padding: 20px;
}

.verticalSeparator {
  width: 1px;
  background-color: #ccc;
  height: 100%;
  margin: 0 20px;
}

.fieldGroup {
  margin-bottom: 15px;
}

.fieldGroup label {
  display: block;
  margin-bottom: 5px;
}

.fieldGroup input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.formClub{
  border: #00997B;
}